<!DOCTYPE html>
<html>
  <head>
    <title>Superflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logo = "<%= image_url('superflix_logo.png') %>";
      window.userLogo = "<%= image_url('user_icon.jpg') %>";
      window.demoThumbnail = "<%= image_url('demo_thumbnail.jpg') %>";
    </script>

    <%= favicon_link_tag asset_path('favicon.png') %>
    <script src="https://kit.fontawesome.com/fe1bb54f07.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
